{
  "presets": [
    [
      "@babel/preset-env",
      { "loose": false }
    ],
    [
      "@babel/preset-react",
      { "runtime": "automatic" }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "core"
    ],
    [
      "babel-plugin-import",
      {
        "libraryName": "@mui/icons-material",
        "libraryDirectory": "esm",
        "camel2DashComponentName": false
      },
      "icons"
    ],
    "@babel/plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  }
}